// src/sass/variables.scss

// Globals
$body-font-family: 'Fira Sans',
serif;
$border-radius-root: 6px;
$font-size-root: 16px; // 14px

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: ('small': 20);
$btn-sizes: ('default': 41,
    'large': 54);

$headings: ('h1': ('size': 3.3125rem,
        'line-height': 1.15em),
    'h2': ('size': 2.25rem,
        'line-height': 1.5em));



// Track
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #f6f6f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

//  app-bar
$app-bar-elevation: 2 !default;

// Buttons
$btn-border-radius: 0;
$btn-text-transform: normal !default;
$btn-letter-spacing: normal !default;
// $btn-hover-opacity: 0.9 !default;

// .v-btn:hover {
//     background-color: #003d61;
// }

// Card
$card-actions-padding:8px !default;
$card-adjacent-sibling-text-padding-top: 0 !default;
$card-border-radius: 0 !default;
$card-btn-margin-x: 8px !default;
$card-btn-padding: 0 8px !default;
$card-btn-small-margin-x: 4px !default;
$card-disabled-opacity: 0.6 !default;
$card-elevation: 2 !default;
$card-hover-elevation :8 !default;
$card-link-focus-opacity: 0.08 !default;
$card-outlined-border-width: thin !default;
$card-overflow-wrap: break-word !default;
$card-raised-elevation: 8 !default;
$card-subtitle-padding :16px !default;
$card-text-font-weight :400 !default;
$card-title-adjacent-sibling-subtitle-margin-top :-16px !default;
$card-title-adjacent-sibling-subtitle-text-padding-top: 0 !default;
$card-title-word-break :break-all !default;
$card-white-space :normal !default;


// Dialog
$dialog-border-radius: 0 !default;
$dialog-card-subtitle-padding: 0 24px 20px !default;
$dialog-card-actions-padding :8px 16px !default;
$dialog-card-text-padding: 0 24px 20px !default;
$dialog-card-title-padding: 16px 24px 10px !default;
$dialog-elevation: 24 !default;
$dialog-margin: 24px !default;
$dialog-max-height: 90% !default;

// Main
.v-main{
   background: whitesmoke; 
}

// Tabs
$tab-font-size: 14px !default;
$tab-font-weight: 400 !default;
$tabs-bar-height: 40px !important;
$tabs-item-letter-spacing: normal !important;

.v-tab {
    text-transform: initial !important;
}

// Textfield
$text-field-border-radius: 0 !default;


//  Toolbar


// Main Nagivation Drawer
.v-navigation-drawer.main {
    .v-list-item {
        border-left: .25rem solid transparent;
        height: 38px !important;
        color: #353535 !important;

        .v-list-item__icon {
            margin-right: 20px !important;
        }
    }

    .v-list-item:focus,
    .v-list-item:hover,
    .v-list-item--active {
        border-left: .25rem solid #005B92;
    }

    .v-list-item--active {
        background-color: #f2f8fc !important;
        color: #005b92 !important;
    }
}